{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": false,
	"svelteSortOrder": "scripts-options-markup-styles",
	"svelteStrictMode": true,
	"htmlWhitespaceSensitivity": "strict",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
